extends ../layouts/application.pug

block content
  h1.fw-bold.mb-5= t('views.usersList')
  table.table.table-light.table-striped
    thead
      tr.table-dark
        th= t('views.users.id')
        th= t('views.users.firstName')
        th= t('views.users.lastName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName
          td= user.lastName
          td= user.email
          td= formatDate(user.createdAt)
          td
            a.btn.btn-primary(href=`/users/${user.id}/edit`)= t('views.users.edit.editUser')
