extends ../layouts/application.pug

block content
  h1.fw-bold= t('views.statusesList')
  a.btn.btn-primary.mb-5(href=route('newStatus'))= t('views.statuses.new.add')
  table.table.table-light.table-striped
    thead
      tr.table-dark
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        th
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            a.btn.btn-primary(href=`/statuses/${status.id}/edit`)= t('views.statuses.edit.editStatus')
