extends ../layouts/application.pug

block content
  h1.mb-3= t('views.tasks.label')
  a.btn.btn-dark.mb-3(href=route('newTasks'))= t('views.tasks.create')
  .card.shadow-sm
    .card-body.p-4
      +formFor()(action=route('tasks') method='get')
        .row
          +filterSelect('status', 'statusId', statuses)
          +filterSelect('executor', 'executorId', executors)
          +filterSelect('label', 'label', labels)
          .form-check.mb-3
            input.form-check-input(id="data_isCreatorUser" type="checkbox" name="isCreatorUser")
            label.form-check-label(for="data_isCreatorUser")= t('views.filters.onlyMy')
          +submit()(value=t('views.filters.show'))
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            //- a(href=route('taskInfo', { id: task.id}))= task.name
            a(href=`/tasks/${task.id}`)= task.name
          td= task.status.name
          td= task.creator.fullName()
          td= task.executor.fullName()
          td= formatDate(task.createdAt)
          td
            .d-flex.flex-wrap
              //- a.btn.btn-dark.m-1(href=route('tasksEdit', { id: tasks.id }))= t('views.tasks.edit') TODO: why don't work route?
              a.btn.btn-dark.m-1(href=`tasks/${task.id}/edit`)= t('views.tasks.edit')
              //- +buttonTo(route('tasksDelete', { id: task.id} ), 'DELETE')(class='btn btn-danger m-1', value=t('views.tasks.delete'))
              +buttonTo(`/tasks/${task.id}`, 'DELETE')(class='btn btn-danger m-1', value=t('views.tasks.delete'))
